.calculator {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
  }
  
  .display {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    margin-bottom: 10px;
    color: gray;
  }
  
  .input,
  .result {
    font-size: 1.5em;
    margin-bottom: 5px;
    color:  green;
  }
  
  .buttons {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-gap: 5px;
  }
  
  button {
    padding: 10px;
    font-size: 1em;
    cursor: pointer;
  }
  